* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500%;

    .menu-1 {
        display: flex;

        ul {
            display: flex;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: #fff;
                    margin-left: 10px;
                }
            }
        }
    }

    .logo-1 {
        color: white;
        font-size: 35px;
    }

    .btns-1 {
        padding-right: 10px;

        button {
            padding: 10px;
            background-color: gold;
            border: none;
        }
    }
}

@media (max-width: 420px) {
    .menu-1 {
        ul {
            display: none;
        }
    }
}