* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

header {
    .navbar-1 {
        background-color: #ffffff;
        height: 60px;
        border-bottom: 2px solid #e5e5e5;

        .contact-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;

            .number-email {
                padding-left: 15px;

                .fa.fa-envelope-o,
                .fa.fa-phone {
                    color: #65676b;
                    margin-right: 15px;
                }



                span {
                    padding-left: 10px;
                    font-family: "Jost";
                }

                .text-icon {
                    font-family: "Jost";
                }
            }

            .count-data {
                padding-right: 15px;
                opacity: 0.5;

                span {
                    font-family: "Jost";
                }

                .fa.fa-map-marker::before {
                    padding-right: 12px;
                }
            }
        }
    }

    .navbar-2 {
        height: 80px;

        .logo-menu-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;

            .menu {
                padding-left: 10px;

                a {
                    text-decoration: none;
                    color: #121212;
                    font-family: "Jost";
                    margin-right: 12px;
                    transition: all 0.5s ease;
                    font-family: "Noto Sans Arabic";

                    &:hover {
                        color: #ab8a62;
                    }
                }


            }

            .btn {
                padding-right: 10px;

                .btn-1 {
                    padding: 12px 17px;
                    background: none;
                    border: 1px solid #e1e3e1;
                    color: #000;
                    border-radius: 6px;
                    transition: all 0.4s ease;
                    font-family: "Jost";

                    &:hover {
                        color: #ffffff;
                        background-color: #ab8a62;
                    }
                }

                .btn-2 {
                    background-color: #ab8a62;
                    color: #ffffff;
                    border: none;
                    border-radius: 6px;
                    padding: 15px 20px;

                    &:hover {
                        background-color: #99754a;
                    }
                }
            }
        }
    }

    .sidbar-header {
        display: none;
    }

    input {
        display: none;
    }
}