 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    background-color: #cccccc;
 }
    

.container{
    max-width: 900px;
    margin: 0 auto;
}

.apply-box{
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}

.title-small{
    font-size: 20px;
}

.form-container{
    display: flex;
    height: 100px;
}

.form-control{
    height: 370px;
    display: flex;
    flex-direction: column;
}

#first-name{
    margin-bottom: 40px;
}

input{
    height: 30px;
    width: 200px;
    margin-right: 180px;
}