* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;


    .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }

     .title::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 30px;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }

    form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: calc(100% / 2 - 20px);
    }

    .user-details .input-box .details {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .user-details .input-box input {
        width: 100%;
        height: 45px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 15px;
        font-size: 16px;
        transition: all 0.3s ease;
    }

    form .gender-details .gender-title {
        font-size: 20px;
        font-weight: 500;
    }

    form .gender-details .gender-catageroy {
        display: flex;
        width: 80%;
        margin: 14px 0;
        justify-content: space-between;
    }

    .gender-details .gender-catageroy label {
        display: flex;
        align-items: center;
    }

    .gender-details .gender-catageroy .dot-one {
        height: 18px;
        width: 18px;
        background: #d9d9d9;
        border-radius: 50%;
        margin-right: 10px;
        border: 5px solid transparent;
        transition: all 0.3s ease;
    }

    #dot-1:checked~.gender-catageroy label[for="dot-1"] .dot-one,
    #dot-2:checked~.gender-catageroy label[for="dot-2"] .dot-one,
    #dot-3:checked~.gender-catageroy label[for="dot-3"] .dot-one {
        border-color: #d9d9d9;
        background: #9b59b6;
    }

    form input[type="radio"] {
        display: none;
    }
}

.button input{
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    align-self: center;
    border: none;
    padding:10px 0px ;
    color: white;
     font-size: 20px;
     font-weight: 500;
}